@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton');
@font-face {
 
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;;
	src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
 		url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
	    url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}



body{ background:url(../../images/background.jpg); font-family:'Nanum Gothic', sans-serif; color:#514c4a; }

.wrap{ width:1200px; margin:0 auto; }

a{ color:#333; text-decoration:none; font-family:'Nanum Gothic', sans-serif; font-size:18px; text-align:center; }

header{
	font-family: 'Anton', sans-serif; color:#514c4a; text-align:center; font-size:90px; line-height:180px; 
	text-shadow:-4px -4px 0px #f3937a; border-bottom:10px solid #f3937a;
	width:1200px; position:relative;
}

article{ padding:30px 40px; }
article h3{ font-family: 'Abril Fatface', cursive; font-size:30px; color:#514c4a; }
article p{ line-height:1.3; }

.wrap > div:nth-of-type(1){ overflow:hidden; margin:30px 0; }
.wrap > div:nth-of-type(1) img{ float:left; width:900px; background-color:#f3937a; }
.wrap > div:nth-of-type(1) .project{ float:right; width:210px; height:390px; padding:30px 35px; background-color:#f3937a; color:#fff; }
.wrap > div:nth-of-type(1) .project section{ padding:20px 0; }
.wrap > div:nth-of-type(1) .project section h3{ font-size:16px; color:#fff; line-height:1.5; }
.wrap > div:nth-of-type(1) .project section p{ font-size:18px; font-weight:bold; }

.wrap > div:nth-of-type(2){ overflow:hidden; height:480px; }
.wrap > div:nth-of-type(2) > *{ float:left; }
.wrap > div:nth-of-type(2) > div{ width:950px; }
.wrap > div:nth-of-type(2) > div .concept{ height:80px; padding:20px 40px 30px; }
.wrap > div:nth-of-type(2) > div .concept h3{ margin-bottom:10px; }
.wrap > div:nth-of-type(2) > .color{ width:149px; height:480px; border-left:1px solid #514c4a; padding:20px 50px 30px; }
.wrap > div:nth-of-type(2) > .color > section{ text-align:right; margin:20px 0;}
.wrap > div:nth-of-type(2) > .color > section > div{ width:150px; height:55px; margin:10px 0; }
.wrap > div:nth-of-type(2) > .color > section > p{ margin-bottom:25px; }
.wrap > div:nth-of-type(2) > div > div > *{ float:left; height:300px; }
.wrap > div:nth-of-type(2) > div > div .fonts{ width:150px; background-color:#f3937a; font-size:18px; }
.wrap > div:nth-of-type(2) > div > div .fonts section{ margin:20px 0 40px; }
.wrap > div:nth-of-type(2) > div > div .fonts section span{ font-size:60px; padding-left:30px; }
.wrap > div:nth-of-type(2) > div > div .design{ border-top:1px solid #514c4a; width:600px; margin:0 20px; }
.wrap > div:nth-of-type(2) > div > div .design img{ width:600px; padding:15px; }

.wrap > .publishing{ border:2px solid #514c4a; width:1116px; margin-top:30px; }
.wrap > .publishing h3{ margin-bottom:10px; }

.wrap > .btnG{ text-align:center; margin:50px 0; }
.wrap > .btnG a{ font-size:14px; }
.wrap > .btnG > a:nth-of-type(1){ display:block; width:160px; padding:20px; background-color:#514c4a; color:#fff; margin:0 auto 30px; }
.wrap > .btnG > a:nth-of-type(1):hover{ background-color:#514c4a; color:#fff; margin:0 auto 30px; }